*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
   background-color: bisque;
   
    justify-content: left;
    align-items: center;
    

}
header{
    background-color: rgb(112, 168, 240);
    padding: 12px;
    border-radius: 15px;
    position: sticky;
    top: 0;
    
}
.nav{

    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
display: flex;
align-items: center;   
justify-content: center
}
ul,li{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    justify-content: center;
    display: flex;
   padding: 10px;
   border-radius: 70px ;

}
li:hover{
    background-color: aliceblue;
}


.contenedor{
    display: flex;
    justify-content: left;
    align-items: center;
    }
    
.imagen{
 width: 180px;
 margin-left: 25px;
 border-radius: 15px;
float: left;
 border: 3px solid #491e1e ;
 border-radius: 10px;
        
    
 }
 .center{
    color: black;
    padding: 20px;   
 }
 .center h2{
 font-size: 42px;
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
 }
.center p{
   font-size: 16px ;
  font-family: 'Courier New', Courier, monospace;
        
 }
   
 .tiempo{
    display: flex;
    justify-content: left;
    align-items: center;
 }
.tiempo img{
    width: 180px;
    margin-left: 25px;
    border-radius: 15px;
    float: left;
    border: 3px solid #e27474 ;
    border-radius: 10px;
    height: 200px;
}
.text h2{
    font-size: 42px;
 text-align: center;
 font-family: 'Courier New', Courier, monospace;
}
.text p{
    font-size: 16px ;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

section{
    display: center;
}

.foto img {
    width: 180px;
    height: 150px;
    padding: 10px;
    margin-left: 25px;
  margin: 10px;
    border-radius: 10px;
   
    border: 2px solid #4ab341;
}
.foto{
    display: flex;
    justify-content: left;
    align-items: center;
}
.texto h2{
    font-size: 42px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.texto p{
    font-size: 16px ;
  font-family: 'Courier New', Courier, monospace;
}
.alinea ol, li {
    align-items: center;
    justify-content: space-around;
    display: flex;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;

   
}
.lili{
text-align: center;
justify-content: center;
}

.texto{
    color: black;
    padding: 20px;   
}

footer{
    background-color:  rgb(112, 168, 240);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
  margin-top: auto; 
    

}
.buttons{
    min-width: 700px;
    display: flex;
    justify-content: center ;


}
.buttons a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color:none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0 ,0 ,0 ,.5);
transition: all .4s ease-in-out;
  animation:  efecto 1.2s infinite;
 
}
.contenedor{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.java{
    width: 100px;
    height: 100px;
    border: 2px solid #519bf0;
    padding: 10px;
    margin: 15px;
}
.net{
    width: 100px;
    height: 100px;
    border: 2px solid #4c2864;
    padding: 10px;
    margin: 15px;
}
.python{
    width: 100px;
    height: 100px;
    border: 2px solid #b0d44b;
    padding: 10px;
    margin: 15px;
}


buttons a:hover{
    transition: scale(1.2);
}
.fa-facebook-official:hover{
    background-color: blue;
}
.fa-instagram:hover{
    background-color: rgb(129, 13, 191);
}
.fa-github:hover{
    background-color: black;
}
.container-boton{
    background-color: #43e072;
    color: #2e6329 ;
    position: fixed;
    border: 1px solid #3cee5a;
    z-index: 999;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;

}
.fa-whatsapp:hover{
    background-color: #177c0e;

}